argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
construct==2.10.70
ifaddr==0.2.0
lxml==6.0.0
pycparser==2.22
pycryptodomex==3.23.0
pykeepass==4.1.1.post1
pyotp==2.9.0
Pyro5==5.15
serpent==1.41
zeroconf==0.147.0
